/*
Theme template:

[data-theme="theme_name"] {
    --font-color-dark:;
    --font-color-light:;

    --primary:;
    --secondary:;
    --tertiary:;
    --danger:;

    --background-dark:;
    --background-light:;
}

*/

:root {
    --font-color-dark:#3b1c13;
    --font-color-light:#d5eadf;

    --primary:#788939;
    --secondary:#92bd2e;
    --tertiary:#c15546;
    --danger:#af573c;

    --background-dark:#3a5e6d;
    --background-light:#a2e4f3;
}

[data-theme="A_Spread_of_Rampant_Green"] {
    --font-color-dark:#090b19;
    --font-color-light:#74c9f3;

    --primary:#2994f9;
    --secondary:#46baf3;
    --tertiary:#868a58;
    --danger:#e2a554;

    --background-dark:#193717;
    --background-light:#5fda84;
}

[data-theme="Breath_of_Darkness_Down_Your_Spine"] {
    --font-color-dark:#161617;
    --font-color-light:#aaa177;

    --primary:#5b645c;
    --secondary:#816c4f;
    --tertiary:#908865;
    --danger:#8c4434;

    --background-dark:#2c2f2f;
    --background-light:#849c8d;
}

[data-theme="Bringer_of_Dreams_and_Nightmares"] {
    --font-color-dark:#0c0d1c;
    --font-color-light:#dffafd;

    --primary:#4a70d1;
    --secondary:#8c9cc6;
    --tertiary:#707070;
    --danger:#c35873;

    --background-dark:#242f5f;
    --background-light:#77c0e7;
}

[data-theme="Dances_Up_Earthquakes"] {
    --font-color-dark:#2b101e;
    --font-color-light:#f1ddcc;

    --primary:#81444c;
    --secondary:#5d476a;
    --tertiary:#f3c476;
    --danger:#be6c67;

    --background-dark:#432b48;
    --background-light:#8c748c;
}

[data-theme="Devouring_Teeth_Lurk_Underfoot"] {
    --font-color-dark:#37281c;
    --font-color-light:#dedee5;

    --primary:#e2b46d;
    --secondary:#a85f3a;
    --tertiary:#c6bdb4;
    --danger:#b32624;

    --background-dark:#4c3c34;
    --background-light:#c4ab87;
}

[data-theme="Downpour_Drenches_the_World"] {
    --font-color-dark:#1e2827;
    --font-color-light:#def1eb;

    --primary:#28bcfc;
    --secondary:#c24ae6;
    --tertiary:#cba16a;
    --danger:#abe5fc;

    --background-dark:#2b553b;
    --background-light:#baccdc;
}

[data-theme="Ember-Eyed_Behemoth"] {
    --font-color-dark:#373126;
    --font-color-light:#c4c1ab;

    --primary:#859443;
    --secondary:#b59972;
    --tertiary:#e1a051;
    --danger:#9ba599;

    --background-dark:#40415f;
    --background-light:#ded1a6;
}

[data-theme="Eyes_Watch_from_the_Trees"] {
    --font-color-dark:#181c19;
    --font-color-light:#bbb4a0;

    --primary:#f0cfcd;
    --secondary:#999687;
    --tertiary:#7f9075;
    --danger:#dd8466;

    --background-dark:#264229;
    --background-light:#a3a18d;
}

[data-theme="Fathomless_Mud_of_the_Swamp"] {
    --font-color-dark:#3b3932;
    --font-color-light:#d3d8d2;

    --primary:#7d796a;
    --secondary:#6d7f8a;
    --tertiary:#939e8b;
    --danger:#9cc77c;

    --background-dark:#352723;
    --background-light:#b7c0b6;
}

[data-theme="Finder_of_Paths_Unseen"] {
    --font-color-dark:#191e26;
    --font-color-light:#cee4eb;

    --primary:#6e86c0;
    --secondary:#79bbd2;
    --tertiary:#598475;
    --danger:#69ded9;

    --background-dark:#352723;
    --background-light:#b8dae4;
}

[data-theme="Fractured_Days_Split_the_Sky"] {
    --font-color-dark:#282b51;
    --font-color-light:#99ddf2;

    --primary:#fdd41d;
    --secondary:#daf4ef;
    --tertiary:#615fae;
    --danger:#fcfef8;

    --background-dark:#26283b;
    --background-light:#9bbfcf;
}

[data-theme="Grinning_Trickster_Stirs_Up_Trouble"] {
    --font-color-dark:#3f3120;
    --font-color-light:#96c5b3;

    --primary:#8f7a3b;
    --secondary:#938340;
    --tertiary:#a3964b;
    --danger:#668264;

    --background-dark:#26283b;
    --background-light:#6d9f81;
}

[data-theme="Heart_of_the_Wildfire"] {
    --font-color-dark:#2b191f;
    --font-color-light:#f7d756;

    --primary:#dd7b34;
    --secondary:#d52316;
    --tertiary:#916457;
    --danger:#f7d756;

    --background-dark:#424138;
    --background-light:#7c7b5f;
}

[data-theme="Hearth-Vigil"] {
    --font-color-dark:#2d2823;
    --font-color-light:#e7b97e;

    --primary:#b99180;
    --secondary:#db6c91;
    --tertiary:#8b8431;
    --danger:#efe0b6;

    --background-dark:#435043;
    --background-light:#abbaec;
}

[data-theme="Keeper_of_the_Forbidden_Wilds"] {
    --font-color-dark:#31291b;
    --font-color-light:#e8dcbc;

    --primary:#a58d71;
    --secondary:#a57f54;
    --tertiary:#ab9886;
    --danger:#ece1bb;

    --background-dark:#50422c;
    --background-light:#b7ae6d;
}

[data-theme="Lightning's_Swift_Strike"] {
    --font-color-dark:#1a0d1b;
    --font-color-light:#fbe8a2;

    --primary:#d27448;
    --secondary:#893934;
    --tertiary:#937474;
    --danger:#fffec7;

    --background-dark:#732229;
    --background-light:#fbcf70;
}

[data-theme="Lure_of_the_Deep_Wilderness"] {
    --font-color-dark:#262114;
    --font-color-light:#fcd476;

    --primary:#cc7c2c;
    --secondary:#bca444;
    --tertiary:#937474;
    --danger:#f9e179;

    --background-dark:#4e3f23;
    --background-light:#d7b96c;
}

[data-theme="Madness"] {
    --font-color-dark:#210e1c;
    --font-color-light:#eecbae;

    --primary:#f5e13a;
    --secondary:#af5190;
    --tertiary:#f4b497;
    --danger:#e46270;

    --background-dark:#853a6f;
    --background-light:#dcbacc;
}

[data-theme="Many_Minds_Move_as_One"] {
    --font-color-dark:#373738;
    --font-color-light:#e1e4de;

    --primary:#71756e;
    --secondary:#747c6c;
    --tertiary:#7c8474;
    --danger:#acb4ac;

    --background-dark:#44464a;
    --background-light:#e5e3d4;
}

[data-theme="Ocean's_Hungry_Grasp"] {
    --font-color-dark:#3e4042;
    --font-color-light:#e9e7e7;

    --primary:#4177a9;
    --secondary:#64a4cc;
    --tertiary:#dff2fc;
    --danger:#b48cac;

    --background-dark:#446799;
    --background-light:#efe2e0;
}

[data-theme="Pandemonium"] {
    --font-color-dark:#0f0d11;
    --font-color-light:#83cef3;

    --primary:#b53448;
    --secondary:#dd4a4f;
    --tertiary:#b6b7cd;
    --danger:#f1d3bd;

    --background-dark:#162542;
    --background-light:#5eafd6;
}

[data-theme="Reach"] {
    --font-color-dark:#251420;
    --font-color-light:#e4bbeb;

    --primary:#804a72;
    --secondary:#9a64b1;
    --tertiary:#5f545f;
    --danger:#d82931;

    --background-dark:#452d53;
    --background-light:#f7e7fb;
}

[data-theme="Relentless_Gaze_of_the_Sun"] {
    --font-color-dark:#313638;
    --font-color-light:#eeeddf;

    --primary:#f6bf58;
    --secondary:#f4d48c;
    --tertiary:#eeedd1;
    --danger:#7694b1;

    --background-dark:#6a8fad;
    --background-light:#acccdc;
}

[data-theme="Resilience"] {
    --font-color-dark:#45331a;
    --font-color-light:#deece4;

    --primary:#d4d64d;
    --secondary:#b7a761;
    --tertiary:#868b58;
    --danger:#3cede5;

    --background-dark:#392b16;
    --background-light:#d2eedd;
}

[data-theme="Rising_Heat_of_Stone_and_Sand"] {
    --font-color-dark:#402c29;
    --font-color-light:#f5e3a8;

    --primary:#f2c54f;
    --secondary:#af6d32;
    --tertiary:#e38438;
    --danger:#f8ed3b;

    --background-dark:#312834;
    --background-light:#f5eab4;
}

[data-theme="River_Surges_in_Sunlight"] {
    --font-color-dark:#141f27;
    --font-color-light:#d7dfd1;

    --primary:#7cd4cd;
    --secondary:#57a7a7;
    --tertiary:#7fb7c2;
    --danger:#a8b0a9;

    --background-dark:#4c4b3e;
    --background-light:#eee3b9;
}

[data-theme="Serpent_Slumbering_Beneath_the_Island"] {
    --font-color-dark:#292417;
    --font-color-light:#f7e2bf;

    --primary:#bf8945;
    --secondary:#858d3f;
    --tertiary:#746c64;
    --danger:#bc3c6c;

    --background-dark:#3f471c;
    --background-light:#f7d394;
}

[data-theme="Shadows_Flicker_Like_Flame"] {
    --font-color-dark:#181c1c;
    --font-color-light:#adeaf0;

    --primary:#498380;
    --secondary:#63a2a6;
    --tertiary:#518a4f;
    --danger:#c93a16;

    --background-dark:#2f4c3f;
    --background-light:#d4c87a;
}

[data-theme="Sharp_Fangs_Behind_the_Leaves"] {
    --font-color-dark:#101311;
    --font-color-light:#bebeb4;

    --primary:#861c12;
    --secondary:#c43427;
    --tertiary:#518a4f;
    --danger:#fafafa;

    --background-dark:#353b34;
    --background-light:#97b997;
}

[data-theme="Shifting_Memory_of_Ages"] {
    --font-color-dark:#332327;
    --font-color-light:#f0e1cb;

    --primary:#8f7266;
    --secondary:#c8b091;
    --tertiary:#b4b4ac;
    --danger:#a6dfe4;

    --background-dark:#5a3b44;
    --background-light:#cebfa8;
}

[data-theme="Shroud_of_Silent_Mist"] {
    --font-color-dark:#2e2136;
    --font-color-light:#e6f3f8;

    --primary:#749b8a;
    --secondary:#84acac;
    --tertiary:#a6d0db;
    --danger:#5d7060;

    --background-dark:#3e3247;
    --background-light:#d3eaef;
}

[data-theme="Starlight_Seeks_Its_Form"] {
    --font-color-dark:#0b111f;
    --font-color-light:#9accd8;

    --primary:#42b2c5;
    --secondary:#943780;
    --tertiary:#844086;
    --danger:#c494b4;

    --background-dark:#1c1a42;
    --background-light:#75acc5;
}

[data-theme="Stone's_Unyielding_Defiance"] {
    --font-color-dark:#242b2e;
    --font-color-light:#d2d1c2;

    --primary:#8893a0;
    --secondary:#96a6b2;
    --tertiary:#677c94;
    --danger:#b7b2ad;

    --background-dark:#353f44;
    --background-light:#ccceb8;
}

[data-theme="Sun-Bright_Whirlwind"] {
    --font-color-dark:#132b18;
    --font-color-light:#eeebab;

    --primary:#d0aa45;
    --secondary:#beb04f;
    --tertiary:#af721f;
    --danger:#f7f8f3;

    --background-dark:#275631;
    --background-light:#e5e1ba;
}

[data-theme="Sunshine"] {
    --font-color-dark:#141f27;
    --font-color-light:#d7dfd1;

    --primary:#57a7a7;
    --secondary:#f7f2ba;
    --tertiary:#7cd4cd;
    --danger:#a8b0a9;

    --background-dark:#686f7a;
    --background-light:#fde4df;
}

[data-theme="Thunderspeaker"] {
    --font-color-dark:#191a14;
    --font-color-light:#dacdb5;

    --primary:#a45434;
    --secondary:#7d9286;
    --tertiary:#715b4f;
    --danger:#c5c5ba;

    --background-dark:#1d4131;
    --background-light:#ce9062;
}

[data-theme="Towering_Roots_of_the_Jungle"] {
    --font-color-dark:#282527;
    --font-color-light:#babace;

    --primary:#616843;
    --secondary:#d9c168;
    --tertiary:#865f46;
    --danger:#c5c5ba;

    --background-dark:#343755;
    --background-light:#a47f4e;
}

[data-theme="Vengeance_as_a_Burning_Plague"] {
    --font-color-dark:#3d3733;
    --font-color-light:#d7d9cd;

    --primary:#f64929;
    --secondary:#d58c39;
    --tertiary:#abb850;
    --danger:#8d7741;

    --background-dark:#657b76;
    --background-light:#f4e46c;
}

[data-theme="Vital_Strength_of_the_Earth"] {
    --font-color-dark:#45331a;
    --font-color-light:#deece4;

    --primary:#9c865c;
    --secondary:#bfbfb6;
    --tertiary:#868b58;
    --danger:#aca155;

    --background-dark:#392b16;
    --background-light:#f3dbaa;
}

[data-theme="Volcano_Looming_High"] {
    --font-color-dark:#22232c;
    --font-color-light:#e5be4d;

    --primary:#6c6c7c;
    --secondary:#b28b43;
    --tertiary:#9c5c4c;
    --danger:#ffe549;

    --background-dark:#373c47;
    --background-light:#948c74;
}

[data-theme="Wandering_Voice_Keens_Delirium"] {
    --font-color-dark:#1f1e23;
    --font-color-light:#d5c098;

    --primary:#dec47a;
    --secondary:#94542d;
    --tertiary:#7c6a68;
    --danger:#faf8f2;

    --background-dark:#34242c;
    --background-light:#9c948c;
}

[data-theme="Wind"] {
    --font-color-dark:#1a2d44;
    --font-color-light:#a8e2f5;

    --primary:#f6ce3d;
    --secondary:#f4eb4c;
    --tertiary:#ca8c37;
    --danger:#e7dfc5;

    --background-dark:#213956;
    --background-light:#8bc7db;
}

[data-theme="Wounded_Waters_Bleeding"] {
    --font-color-dark:#1a2d44;
    --font-color-light:#a4e4ec;

    --primary:#a31a17;
    --secondary:#c95e4c;
    --tertiary:#667e7f;
    --danger:#d2c7bd;

    --background-dark:#571513;
    --background-light:#c2dee1;
}