.is_hidden {
    visibility : hidden;
    max-height : 0;
}

.margin_auto {
    margin-left: auto;
    margin-right : auto;
}

html *
{
   font-size: 1em;
   color: #000;
   font-family: Josefin Sans !important;
}

body {
    margin:0;
    padding:0;

    background-image: url("https://raw.githubusercontent.com/NoahBolohan/spirit-island-tracker/master/static/misc/Spirit_Island_Cover_Art.jpg");

    min-height: 99svh;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 38px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 30px;
width: 30px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
    background-color: #0d6efd;
}

input:focus + .slider {
box-shadow: 0 0 1px #0d6efd;
}

input:checked + .slider:before {
-webkit-transform: translateX(22px);
-ms-transform: translateX(22px);
transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.astext {
    /* background:transparent; */
    border:none !important;
    margin:0;
    padding:0;
    cursor: pointer;
}