/*
Theme template:

[data-theme="theme_name"] {
    --font-color-dark:;
    --font-color-light:;

    --primary:;
    --secondary:;
    --tertiary:;
    --danger:;

    --background-dark:;
    --background-light:;
}

*/

:root {
    --font-color-dark:59,28,19;
    --font-color-light:213,234,223;

    --primary:120,137,57;
    --secondary:146,189,46;
    --tertiary:193,85,70;
    --danger:175,87,60;

    --background-dark:58,94,109;
    --background-light:162,228,243;
}

[data-theme="A_Spread_of_Rampant_Green"] {
    --font-color-dark:9,11,25;
    --font-color-light:116,201,243;

    --primary:25,84,196;
    --secondary:70,186,243;
    --tertiary:106,109,68;
    --danger:226,165,84;

    --background-dark:25,55,23;
    --background-light:40,163,84;
}

[data-theme="Breath_of_Darkness_Down_Your_Spine"] {
    --font-color-dark:22,22,23;
    --font-color-light:170,161,119;

    --primary:91,100,92;
    --secondary:129,108,79;
    --tertiary:144,136,101;
    --danger:140,68,52;

    --background-dark:44,47,47;
    --background-light:132,156,141;
}

[data-theme="Bringer_of_Dreams_and_Nightmares"] {
    --font-color-dark:12,13,28;
    --font-color-light:223,250,253;

    --primary:74,112,209;
    --secondary:140,156,198;
    --tertiary:112,112,112;
    --danger:195,88,115;

    --background-dark:36,47,95;
    --background-light:119,192,231;
}

[data-theme="Dances_Up_Earthquakes"] {
    --font-color-dark:43,16,30;
    --font-color-light:241,221,204;

    --primary:129,68,76;
    --secondary:93,71,106;
    --tertiary:243,196,118;
    --danger:190,108,103;

    --background-dark:67,43,72;
    --background-light:140,116,140;
}

[data-theme="Devouring_Teeth_Lurk_Underfoot"] {
    --font-color-dark:55,40,28;
    --font-color-light:222,222,229;

    --primary:226,180,109;
    --secondary:168,95,58;
    --tertiary:198,189,180;
    --danger:179,38,36;

    --background-dark:76,60,52;
    --background-light:196,171,135;
}

[data-theme="Downpour_Drenches_the_World"] {
    --font-color-dark:30,40,39;
    --font-color-light:222,241,235;

    --primary:40,188,252;
    --secondary:194,74,230;
    --tertiary:203,161,106;
    --danger:171,229,252;

    --background-dark:43,85,59;
    --background-light:186,204,220;
}

[data-theme="Ember-Eyed_Behemoth"] {
    --font-color-dark:55,49,38;
    --font-color-light:196,193,171;

    --primary:133,148,67;
    --secondary:181,153,114;
    --tertiary:225,160,81;
    --danger:155,165,153;

    --background-dark:64,65,95;
    --background-light:222,209,166;
}

[data-theme="Eyes_Watch_from_the_Trees"] {
    --font-color-dark:24,28,25;
    --font-color-light:187,180,160;

    --primary:240,207,205;
    --secondary:153,150,135;
    --tertiary:127,144,117;
    --danger:221,132,102;

    --background-dark:38,66,41;
    --background-light:163,161,141;
}

[data-theme="Fathomless_Mud_of_the_Swamp"] {
    --font-color-dark:59,57,50;
    --font-color-light:211,216,210;

    --primary:125,121,106;
    --secondary:109,127,138;
    --tertiary:147,158,139;
    --danger:156,199,124;

    --background-dark:53,39,35;
    --background-light:183,192,182;
}

[data-theme="Finder_of_Paths_Unseen"] {
    --font-color-dark:25,30,38;
    --font-color-light:206,228,235;

    --primary:110,134,192;
    --secondary:121,187,210;
    --tertiary:89,132,117;
    --danger:105,222,217;

    --background-dark:53,39,35;
    --background-light:184,218,228;
}

[data-theme="Fractured_Days_Split_the_Sky"] {
    --font-color-dark:40,43,81;
    --font-color-light:153,221,242;

    --primary:253,212,29;
    --secondary:218,244,239;
    --tertiary:97,95,174;
    --danger:252,254,248;

    --background-dark:38,40,59;
    --background-light:155,191,207;
}

[data-theme="Grinning_Trickster_Stirs_Up_Trouble"] {
    --font-color-dark:63,49,32;
    --font-color-light:150,197,179;

    --primary:143,122,59;
    --secondary:147,131,64;
    --tertiary:163,150,75;
    --danger:102,130,100;

    --background-dark:38,40,59;
    --background-light:109,159,129;
}

[data-theme="Heart_of_the_Wildfire"] {
    --font-color-dark:43,25,31;
    --font-color-light:247,215,86;

    --primary:221,123,52;
    --secondary:213,35,22;
    --tertiary:145,100,87;
    --danger:247,215,86;

    --background-dark:66,65,56;
    --background-light:124,123,95;
}

[data-theme="Hearth-Vigil"] {
    --font-color-dark:45,40,35;
    --font-color-light:231,185,126;

    --primary:185,145,128;
    --secondary:219,108,145;
    --tertiary:139,132,49;
    --danger:239,224,182;

    --background-dark:67,80,67;
    --background-light:171,186,236;
}

[data-theme="Keeper_of_the_Forbidden_Wilds"] {
    --font-color-dark:49,41,27;
    --font-color-light:232,220,188;

    --primary:165,141,113;
    --secondary:165,127,84;
    --tertiary:171,152,134;
    --danger:236,225,187;

    --background-dark:80,66,44;
    --background-light:183,174,109;
}

[data-theme="Lightning's_Swift_Strike"] {
    --font-color-dark:26,13,27;
    --font-color-light:251,232,162;

    --primary:210,116,72;
    --secondary:137,57,52;
    --tertiary:147,116,116;
    --danger:255,254,199;

    --background-dark:115,34,41;
    --background-light:251,207,112;
}

[data-theme="Lure_of_the_Deep_Wilderness"] {
    --font-color-dark:38,33,20;
    --font-color-light:252,212,118;

    --primary:204,124,44;
    --secondary:188,164,68;
    --tertiary:147,116,116;
    --danger:249,225,121;

    --background-dark:78,63,35;
    --background-light:215,185,108;
}

[data-theme="Madness"] {
    --font-color-dark:33,14,28;
    --font-color-light:238,203,174;

    --primary:245,225,58;
    --secondary:175,81,144;
    --tertiary:244,180,151;
    --danger:228,98,112;

    --background-dark:133,58,111;
    --background-light:220,186,204;
}

[data-theme="Many_Minds_Move_as_One"] {
    --font-color-dark:55,55,56;
    --font-color-light:225,228,222;

    --primary:113,117,110;
    --secondary:116,124,108;
    --tertiary:124,132,116;
    --danger:172,180,172;

    --background-dark:68,70,74;
    --background-light:229,227,212;
}

[data-theme="Ocean's_Hungry_Grasp"] {
    --font-color-dark:62,64,66;
    --font-color-light:233,231,231;

    --primary:65,119,169;
    --secondary:100,164,204;
    --tertiary:223,242,252;
    --danger:180,140,172;

    --background-dark:68,103,153;
    --background-light:239,226,224;
}

[data-theme="Pandemonium"] {
    --font-color-dark:15,13,17;
    --font-color-light:131,206,243;

    --primary:181,52,72;
    --secondary:221,74,79;
    --tertiary:182,183,205;
    --danger:241,211,189;

    --background-dark:22,37,66;
    --background-light:94,175,214;
}

[data-theme="Reach"] {
    --font-color-dark:37,20,32;
    --font-color-light:228,187,235;

    --primary:128,74,114;
    --secondary:154,100,177;
    --tertiary:95,84,95;
    --danger:216,41,49;

    --background-dark:69,45,83;
    --background-light:247,231,251;
}

[data-theme="Relentless_Gaze_of_the_Sun"] {
    --font-color-dark:49,54,56;
    --font-color-light:238,237,223;

    --primary:246,191,88;
    --secondary:244,212,140;
    --tertiary:238,237,209;
    --danger:118,148,177;

    --background-dark:106,143,173;
    --background-light:172,204,220;
}

[data-theme="Resilience"] {
    --font-color-dark:69,51,26;
    --font-color-light:222,236,228;

    --primary:212,214,77;
    --secondary:183,167,97;
    --tertiary:134,139,88;
    --danger:60,237,229;

    --background-dark:57,43,22;
    --background-light:210,238,221;
}

[data-theme="Rising_Heat_of_Stone_and_Sand"] {
    --font-color-dark:64,44,41;
    --font-color-light:245,227,168;

    --primary:242,197,79;
    --secondary:175,109,50;
    --tertiary:227,132,56;
    --danger:248,237,59;

    --background-dark:49,40,52;
    --background-light:245,234,180;
}

[data-theme="River_Surges_in_Sunlight"] {
    --font-color-dark:20,31,39;
    --font-color-light:215,223,209;

    --primary:124,212,205;
    --secondary:87,167,167;
    --tertiary:127,183,194;
    --danger:168,176,169;

    --background-dark:76,75,62;
    --background-light:238,227,185;
}

[data-theme="Serpent_Slumbering_Beneath_the_Island"] {
    --font-color-dark:41,36,23;
    --font-color-light:247,226,191;

    --primary:191,137,69;
    --secondary:133,141,63;
    --tertiary:116,108,100;
    --danger:188,60,108;

    --background-dark:63,71,28;
    --background-light:247,211,148;
}

[data-theme="Shadows_Flicker_Like_Flame"] {
    --font-color-dark:24,28,28;
    --font-color-light:173,234,240;

    --primary:73,131,128;
    --secondary:99,162,166;
    --tertiary:81,138,79;
    --danger:201,58,22;

    --background-dark:47,76,63;
    --background-light:212,200,122;
}

[data-theme="Sharp_Fangs_Behind_the_Leaves"] {
    --font-color-dark:16,19,17;
    --font-color-light:190,190,180;

    --primary:134,28,18;
    --secondary:196,52,39;
    --tertiary:81,138,79;
    --danger:250,250,250;

    --background-dark:53,59,52;
    --background-light:151,185,151;
}

[data-theme="Shifting_Memory_of_Ages"] {
    --font-color-dark:51,35,39;
    --font-color-light:240,225,203;

    --primary:143,114,102;
    --secondary:200,176,145;
    --tertiary:180,180,172;
    --danger:166,223,228;

    --background-dark:90,59,68;
    --background-light:206,191,168;
}

[data-theme="Shroud_of_Silent_Mist"] {
    --font-color-dark:46,33,54;
    --font-color-light:230,243,248;

    --primary:116,155,138;
    --secondary:132,172,172;
    --tertiary:166,208,219;
    --danger:93,112,96;

    --background-dark:62,50,71;
    --background-light:211,234,239;
}

[data-theme="Starlight_Seeks_Its_Form"] {
    --font-color-dark:11,17,31;
    --font-color-light:154,204,216;

    --primary:66,178,197;
    --secondary:148,55,128;
    --tertiary:132,64,134;
    --danger:196,148,180;

    --background-dark:28,26,66;
    --background-light:117,172,197;
}

[data-theme="Stone's_Unyielding_Defiance"] {
    --font-color-dark:36,43,46;
    --font-color-light:210,209,194;

    --primary:136,147,160;
    --secondary:150,166,178;
    --tertiary:103,124,148;
    --danger:183,178,173;

    --background-dark:53,63,68;
    --background-light:204,206,184;
}

[data-theme="Sun-Bright_Whirlwind"] {
    --font-color-dark:19,43,24;
    --font-color-light:238,235,171;

    --primary:208,170,69;
    --secondary:190,176,79;
    --tertiary:175,114,31;
    --danger:247,248,243;

    --background-dark:39,86,49;
    --background-light:229,225,186;
}

[data-theme="Sunshine"] {
    --font-color-dark:20,31,39;
    --font-color-light:215,223,209;

    --primary:87,167,167;
    --secondary:247,242,186;
    --tertiary:124,212,205;
    --danger:168,176,169;

    --background-dark:104,111,122;
    --background-light:253,228,223;
}

[data-theme="Thunderspeaker"] {
    --font-color-dark:25,26,20;
    --font-color-light:218,205,181;

    --primary:164,84,52;
    --secondary:125,146,134;
    --tertiary:113,91,79;
    --danger:197,197,186;

    --background-dark:29,65,49;
    --background-light:206,144,98;
}

[data-theme="Towering_Roots_of_the_Jungle"] {
    --font-color-dark:40,37,39;
    --font-color-light:186,186,206;

    --primary:97,104,67;
    --secondary:217,193,104;
    --tertiary:134,95,70;
    --danger:197,197,186;

    --background-dark:52,55,85;
    --background-light:164,127,78;
}

[data-theme="Vengeance_as_a_Burning_Plague"] {
    --font-color-dark:61,55,51;
    --font-color-light:215,217,205;

    --primary:246,73,41;
    --secondary:213,140,57;
    --tertiary:171,184,80;
    --danger:141,119,65;

    --background-dark:101,123,118;
    --background-light:244,228,108;
}

[data-theme="Vital_Strength_of_the_Earth"] {
    --font-color-dark:69,51,26;
    --font-color-light:222,236,228;

    --primary:156,134,92;
    --secondary:191,191,182;
    --tertiary:134,139,88;
    --danger:172,161,85;

    --background-dark:57,43,22;
    --background-light:243,219,170;
}

[data-theme="Volcano_Looming_High"] {
    --font-color-dark:34,35,44;
    --font-color-light:229,190,77;

    --primary:108,108,124;
    --secondary:178,139,67;
    --tertiary:156,92,76;
    --danger:255,229,73;

    --background-dark:55,60,71;
    --background-light:148,140,116;
}

[data-theme="Wandering_Voice_Keens_Delirium"] {
    --font-color-dark:31,30,35;
    --font-color-light:213,192,152;

    --primary:222,196,122;
    --secondary:148,84,45;
    --tertiary:124,106,104;
    --danger:250,248,242;

    --background-dark:52,36,44;
    --background-light:156,148,140;
}

[data-theme="Wind"] {
    --font-color-dark:26,45,68;
    --font-color-light:168,226,245;

    --primary:246,206,61;
    --secondary:244,235,76;
    --tertiary:202,140,55;
    --danger:231,223,197;

    --background-dark:33,57,86;
    --background-light:139,199,219;
}

[data-theme="Wounded_Waters_Bleeding"] {
    --font-color-dark:26,45,68;
    --font-color-light:164,228,236;

    --primary:163,26,23;
    --secondary:201,94,76;
    --tertiary:102,126,127;
    --danger:210,199,189;

    --background-dark:87,21,19;
    --background-light:194,222,225;
}