/*
Theme template:

[data-theme="theme_name"] {
    --font-color-dark:;
    --font-color-light:;

    --primary:;
    --secondary:;
    --tertiary:;
    --danger:;

    --background-dark:;
    --background-light:;
}

*/

:root {
    --font-color-dark:0,0,0;
    --font-color-light:255,255,255;

    --primary:0,0,255;
    --secondary:0,128,0;
    --tertiary:128,128,128;
    --danger:255,0,0;

    --background-dark:128,0,128;
    --background-light:255,192,203;
}

[data-theme="A_Spread_of_Rampant_Green"] {
    --font-color-dark:9,11,25;
    --font-color-light:116,201,243;

    --primary:25,84,196;
    --secondary:70,186,243;
    --tertiary:106,109,68;
    --danger:226,165,84;

    --background-dark:25,55,23;
    --background-light:40,163,84;
}